@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white: #ffffff;
    --white2: #E1E5EE;
    --dark: #2A324B;
    --blue: #58699D;
}


body {
    background-color: var(--white2);
    width: 90%;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    header {
        width: 90%;
        nav{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            color: var(--white);
            gap: 1rem;
            button {
                border: none;
                background-color: var(--dark);
                color: var(--white);
                font-size: 18px;
                padding: 10px;
            }
        }
    }
    article {
        background-color: var(--white);
        height: 250px;
        width: 90%;
        justify-content: center;
        align-items: center;
        h3 {
            color: var(--dark);
            font-size: 24px;
        }
        p {
            color: var(--dark);
            font-size: 18px;
        }
        ul {
            li {
                color: var(--dark);
                font-size: 18px;
                margin-bottom: 1rem;
            }
        }
    }
}