@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white: #ffffff;
    --white2: #E1E5EE;
    --dark: #2A324B;
    --blue: #58699D;
}

header {
    display: flex;
    nav, h2{
        flex-direction: row;
        color: var(--white);
        background-color: var(--dark);
        
    }
}

body {
    background-color: var(--white2);
    article {
        background-color: var(--white);
        h3 {
            color: var(--white);
            background-color: var(--dark);
        }
    }
}